@{
    ViewData["Title"] = "Controle Veicular";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    Hello !-->
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@


<!--</div>-->

<div class="card-deck">
    @*@foreach (var veiculo in Model)
    {*@
        <!--<div class="card-deck m-3">
            <div class="card-header">
                <h3> Veículo 1</h3>
            </div>
            <img class="card-img-top" src="" />
            <div class="card-footer" text-center>
                <a href="#" class="btn btn-primary">Detalhes</a>
                <a href="#" class="btn btn-primary">Editar</a>
                <a href="#" class="btn btn-danger">Deletar</a>
            </div>
        </div>-->
   @* }*@
    <h2>Anúncios de veículos do Luiz</h2>

</div>
